/* You can add global styles to this file, and also import other style files */
body {
  background: #e0e0e0;
  margin: 0;
}

.container {
	font-family: 'Lato', sans-serif;
	width: 1024px;
	margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    width: auto;
  }
}


.cards-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.card {
	background: white;
  padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	box-shadow: 0 8px 8px -6px rgba(0,0,0,.25);

	&--details {
		&__button {
			width: 100%;
			border-radius: 5px;
			background: green;
			border: 0;
			color: white;
			height: 30px;
			font-weight: 700;
			font-family: "Lato", sans-serif;
			cursor: pointer;
			font-size: 15px;
		}
	}
}

@media (max-width: 768px) {
  .card {
    margin: 0 auto 20px auto;
  }
}